.movie-board {
    display: grid;
    grid-template-columns: auto auto auto  auto;
    grid-gap: 30px;
    margin-top: 40px;
}

.movie-board > div {
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;

}
.movie__image {
    width: 220px;
    height: 300px;
}

.movie__title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.preferenceBoard {
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: 30px;
    background-color: #f5f4f4b5;
    border-radius: 3px;
    padding: 10px;
}
.preferenceBoard * {
    padding: 5px;
    border-radius: 5px;
    border-color: lightgray;

}
.preferenceBoard input{
    padding-left:10px ;
    padding-right: 10px;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
}


.preferenceBoard__filter {
    display: flex;
    column-gap: 10px;

}

.loading {
    background: url("../public/Loading_Half_circle.gif") no-repeat;
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
    margin-top: 100px;

}

form {
    font-family: "Arial";
}